* {
  padding: 0;
  margin: 0;
}

.nav-bar {
  overflow: hidden;
}
.place-selected {
  display: flex;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(204, 204, 204);
}
.signin-btn {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(248, 68, 100) !important;
  font-size: 12px !important;
  height: 25px;
  margin-right: 10px !important;
  line-height: 25px !important;
 margin-top: 12px !important;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgb(248, 68, 100) !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-transform: none !important;
}
.hamburger-icon{
margin-left: 20px !important;
}
